<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>¡Hola, Mundo!</title>
</head>
<body>

<div class="container">
    <h1>¡Hola, Mundo!</h1>
    <p>Bienvenido a mi aplicación Flask.</p>

    <p>Esta es una página de ejemplo para mostrar cómo servir contenido HTML con Flask.</p>
    <p>Para ver la lista de usuarios, <a href="/usuarios">haz clic aquí</a>.</p>
    <p>Para ver la lista de películas, <a href="/peliculas">haz clic aquí</a>.</p>
</div>
    
</body>
<script src="script.js"></script>
</html>